<h1> My Todo App </h1>
<div id="app">
 <p> {{ message }} </p>
 <h3>Today's tasks are: <br>
 <ol>
   <li v-for="item in taskitems"> {{ item }} <input type="checkbox" v-model="toggle"></li> 
   <input type="text" v-model="task3">
 </ol>
</h3>
</div>
