<h1> My Todo App </h1>
<div id="app">
 <p> {{ message }} </p>

<h4>Total tasks : {{ taskitems.length }}</h4>
 
<p>Today's tasks are: </p>
  <div v-for="item in taskitems">
   <h4 v-on:click="toggleStatus(item)">{{ item.task }} </h4>
   <p v-bind:class="{strike: item.completed}">{{ item.completed }} </p>
   <button v-on:click="deleteItem(item)">Delete</button>
</div> 

<h3> Add a Task </h3>
<div>
Task: <input type="text" v-model="newItemTask">
Status: <input type="text" v-model="newItemCompleted">
<button v-on:click="addItem()"> Add Task</button>
</div>
</div>
