<h1> My Todo App </h1>
<div id="app">
 <p> {{ message }} </p>
 <h3>Today's tasks are: <br>
 <ol>
   <li v-for="item in taskitems" v-on:click="deleteTask()"> {{ item }} <input type="checkbox" v-model="toggle"></li> 
   <input type="text" v-model="taskitems[2]">
 </ol>
</h3>
<p> Add a Task </p>
<input type="text" v-model="newTask" required>
<button v-on:click="addTask()"> Add Task</button>
</div>
